
@model PaginaWeb.ViewModel.PaginaInicialViewModel

@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">

        <h3>Quantidade De Pessoas: @Model.QuantidadePessoa</h3>
        <h3>Quantidade De Paises: @Model.QuantidadePais</h3>
        <h3>Quantidade De Estados: @Model.QuantidadeEstado</h3>

    </div>
